{% extends 'base.html.twig' %}

{% block title %}Page Title{% endblock %}

{% block body %}
    <h1>Articles</h1>
    <p>Name: {{ name }}</p>

    {% if articles %}

        <table id="articles" class="table table-striped">
            <thead>
                <tr>
                    <th>Article Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="http://localhost/symfony_01/public/article/{{ article.id }}" class="btn btn-primary">Show</a>
                            <a href="http://localhost/symfony_01/public/article/edit/{{ article.id }}" class="btn btn-light">Edit</a>
                            <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No articles to display</p>
    {% endif %}

{% endblock %}


{% block javascripts %}
    <script src="http://localhost/symfony_01/public/js/main.js"></script>
{% endblock %}