<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="http://localhost/symfony_01/public/" class="navbar-brand">Symfony 01</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('dashboard') }}" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/symfony_01/public/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/symfony_01/public/new" class="nav-link">New Article</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('registration') }}" class="nav-link">Registration</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>